past/gsd_2020.csv
past/gsd_2021.csv
input/4a43b533-ca91-4ebb-a325-8637db53d31e.xlsx
extrap/Germany Extrap.csv
extrap/EXTRAPOLATION HW GSD.csv
extrap/EXTRAPOLATION HW GFK.csv
EUA Weekly Console HW Report CY23 WK07.xlsx
EUA Weekly Console HW Report CY23 WK06.xlsx
input/NEW_HW_DATA.txt
past/gfk_2020-2021.txt
